.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.Menu-Box {
  height: 80px;
  position: relative;
  padding: 0px 16px;
  display: flex;
}

.Profile-Picture {
  padding: 10px 0px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.User-Information {
  line-height: 80px;
  padding-left: 20px;
  vertical-align: middle;
}
