.FeedCard {
  font-family: 'Montserrat', sans-serif !important;
  background-color: white !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding: 20px 20px 5px 20px !important;
}

.FeedCard-content {
  display: flex !important;
  align-items: center;
}

.FeedCard-innerContent {
  flex: 1 auto;
  min-width: 0;
  margin-right: 10px;
}

.FeedCard-header {
  display: inline-block;
  margin: -.21425em 0 0;
  font-weight: 700;
  color: rgba(0,0,0,.85);
}

.FeedCard-meta {
  font-family: 'Montserrat', sans-serif !important;
  margin: .5em 0 .5em;
  font-size: small !important;
  line-height: 1em;
  color: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  font-size: small;
  margin-top: 1px !important;
  flex: 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FeedCard-separator {
  color: rgb(120, 146, 190);
  margin-left: 10px !important;
  margin-right: 5px !important;
}

.FeedCard-info {
  margin-top: -10px !important;
}

.FeedCard-info i {
  margin-top: 6px !important;
}

.FeedCard-info div {
  font-size: small;
}

.FeedCard-bar i {
  color: rgb(120, 146, 190);
  margin-top: 4px !important;
}

.FeedCard--upvoted i,
.FeedCard--downvoted i {
  color: #b47bbe;
}

.FeedCard--upvoted,
.FeedCard--downvoted {
  font-weight: 800;
}

.FeedCard-userPicture {
  margin-left: auto;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}