.Title {
  width: 100%;
  background-color: rgba(247,247,247,1) !important;
  padding: 25px 25px;
  font-style: italic;
  font-weight: 800;
  color: rgb(127,100,160) !important;
}

.Content {
  width: 100%;
  padding: 43px 43px;
}

.Content-Inner {
  padding-bottom: 5px;
}

.Add-Icon {
  display: inline-block; 
  color: rgb(121, 134, 203); 
  fill: rgb(121, 134, 203); 
  height: 24px; 
  width: 24px; 
  user-select: none; 
  transition: all;
}
