.Title {
  width: 100%;
  background-color: rgba(247,247,247,1) !important;
  padding: 20px 20px;
  font-style: italic;
  font-weight: 400;
  color: rgb(127,100,160) !important;
}

.Content {
  width: 100%;
  padding: 40px 40px;
}

.Content-Inner {
  padding-bottom: 5px;
}

.Add-Icon {
  display: inline-block; 
  color: rgb(121, 134, 203); 
  fill: rgb(121, 134, 203); 
  height: 16px; 
  width: 16px; 
  user-select: none; 
  transition: all;
}

.Other-Icon {
  height: 16px !important;
  width: 16px !important;
}
