.ImageGrid {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.ImageGrid > div {
  margin-left: 1vw;
}

.ImageGrid > div:nth-child(1),
.ImageGrid--notTwo > div:nth-child(2) {
  margin-left: 0vw !important;
}

.ImageGrid-main {
  display: inherit;
  margin-bottom: 1vw;
  width: 100%;
}

.ImageGrid-subImage--overflow::before {
  content: "+";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}