.UserProfileCard {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 17px;
}

.UserProfileCard-avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 20px;
}

.UserProfileCard-text {
  flex: 1 auto;
}

.UserProfileCard-aboutMe {
  flex: 1 auto;
  font-weight: 300;
  margin-right: 7px;
  min-width: 0;
}

.UserProfileCard-textField {
  flex: 1 auto;
  margin-right: 7px;
  min-width: 0;
  font-size: 14px !important;
  line-height: 20px !important;
}

.UserProfileCard-textField--iOS textarea {
  margin-left: -3px;
  &::placeholder {
      padding-left: 3px;
  }
}

.UserProfileCard-edit {
  width: 36px !important;
  height: 36px !important;
  padding: 9px !important;
}

.UserProfileCard-edit svg {
  color: #C0BFBF !important;
  width: 18px !important;
  height: 18px !important;
}

.UserProfileCard-name {
  font-weight: 500;
  font-size: large;
}

.UserProfileCard-nameBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserProfileCard-bottom {
  display: flex;
  align-items: center;
}

.UserProfileCard-event {
  border-left: thin solid #D0D0D2;
  padding-left: 10px;
  flex: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserProfileCard-eventCount {
  font-weight: 500;
  font-size: large;
}

.UserProfileCard-eventText {
  font-weight: 300;
}